<h3>THIS IS THE EVENT FETCHER</h3>

<div *ngIf="username">
  Hello {{username}}!
</div>

<button *ngIf="!username" (click)="login();">
    Login!
</button>

<div>
  <!--
  <div>
    <label>Starts By: </label>
    <input type="time" [(ngModel)]="fetcherSearch.startTime" placeholder="starts by">
    <label>On: </label>
    <input type="date" [(ngModel)]="fetcherSearch.startTime" placeholder="starts by">
  </div>
  <div>
    <label>Ends By: </label>
    <input type="time" [(ngModel)]="fetcherSearch.endTime" placeholder="ends by">
    <label>On: </label>
    <input type="date" [(ngModel)]="fetcherSearch.endTime" placeholder="ends by">
  </div>
-->

  <div>
    <label>Within </label>
    <input select type="number" [(ngModel)]="fetcherSearch.maxDistance" placeholder="miles">
    <label> Meters of : </label>
    <input [(ngModel)]="fetcherSearch.centerCoordinates" placeholder="center">
  </div>
  <div *ngIf="geocodePacket">
    {{geocodePacket.formatted_address}}
  </div>

  <div>
    <label>Within two weeks of: </label>
    <input type="date" [(ngModel)]="fetcherSearch.centerDate" placeholder="starts by">
    {{fetcherSearch.centerDate}}
  </div>



  <div>
    <label>Starts By: </label>
    <input [(ngModel)]="fetcherSearch.startTime" placeholder="starts by">
  </div>
  <div>
    <label>Ends By: </label>
    <input [(ngModel)]="fetcherSearch.endTime" placeholder="ends by">
  </div>


  <!--
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
  -->
  <!--
  <div>
    <label>Within </label>
    <input [(ngModel)]="fetcherSearch.maxDistance" placeholder="miles">
    <label> Miles of : </label>
    <input [(ngModel)]="fetcherSearch.centerCoordinates" placeholder="center">
  </div>
-->
</div>

<button *ngIf="!geocodePacket" (click)="checkAddress();">
    (1) check address
</button>

<button *ngIf="geocodePacket" (click)="checkAddress();">
    (1) change address
</button>

<button *ngIf="geocodePacket" (click)="checkInputs();">
    Check Stuff (2)
</button>

<button *ngIf="readyToFetch&&username" (click)="placesToEventsToDB();">
    Get Places -> events -> (send to database) (3)
</button>



<button (click)="goToFilter();">
    Go!
</button>

<button (click)="addressToGeocode('1965 Fletcher Avenue, South Pasadena, CA', latLongTest);">
    Fletcher Check
</button>

<!--
<button (click)="eventTest();">
    Test - Push one Event to DB
</button>

<button (click)="whyMe();">
    DB Check Part 2 - get events back
</button>
-->
<button (click)="manualCheck();">
    Update DOM
</button>


<div *ngIf="fetcherSearch">
  Have Events!
</div>

<div *ngIf="username">
  {{username}}
</div>

<div *ngIf="geocodePacket">
  Got Something!
  {{geocodePacket.formatted_address}}
</div>

<event-map
  [currentSearch]="fetcherSearch"
  [tempZoom]="mapSize"
  [currentGeo]="geocodePacket">
  <!-- [tempZoom]="fetcherSearch.maxDistance"> -->
</event-map>
<welcome></welcome>
