<h3>THIS IS THE EVENT FILTER</h3>
<div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="currentSearch.name" placeholder="name">
  </div>
  <div>
    <label>terms: </label>
    <input [(ngModel)]="currentSearch.terms" placeholder="terms">
  </div>
  <div>
    <label>Starts By: </label>
    <input #startTimeInput
      [ngModel]="currentSearch.startTime | date:'HH:mm'"
      (ngModelChange)="updateDateTime(startTimeInput.value, 'startTimeTag')"
      type="time"
      name="currentSearch.startTime"/>

    <label>On: </label>
    <input #startDateInput
      [ngModel]="currentSearch.startTime | date:'yyyy-MM-dd'"
      (ngModelChange)="updateDate(startDateInput.value, 'startTimeTag')"
      type="date"
      name="currentSearch.startTime"/>
  </div>
  <div>
    <label>Ends By: </label>
    <input #endTimeInput
      [ngModel]="currentSearch.endTime | date:'HH:mm'"
      (ngModelChange)="updateDateTime(endTimeInput.value, 'endTimeTag')"
      type="time"
      name="currentSearch.endTime"/>

    <label>On: </label>
    <input #endDateInput
      [ngModel]="currentSearch.endTime | date:'yyyy-MM-dd'"
      (ngModelChange)="updateDate(endDateInput.value, 'endTimeTag')"
      type="date"
      name="currentSearch.endTime"/>
  </div>

  <!-- possibly add location filtering eventually
  <div>
    <label>Within this many Miles: </label>
    <input [(ngModel)]="currentSearch.maxDistance" placeholder="miles">
  </div>
  <div>
    <label>of: </label>
    <input [(ngModel)]="currentSearch.centerCoordinates" placeholder="center">
  </div>
-->
</div>

<button (click)="filterEvents2();">
    Filter
</button>

<button (click)="filterEvents();">
    Filter Test
</button>

<button (click)="getEventsAndDefault();">
    Get
</button>

<button (click)="backToFetcher();">
    Back
</button>


<div>{{testNumber}}</div>
<div>4</div>

<div *ngIf="events">
  Have Events!
</div>

<div *ngIf="selectedEvent">
  An Event is Selected!
  {{selectedEvent.name}}
</div>

<event-map
  [events]="events"
  [selectedEvent]="selectedEvent"
  [currentGeo]="geocodePacket"
  [tempZoom]="mapSize"
  [currentSearch]="currentSearch">
</event-map>

<event-list
  [events]="events"
  [selectedEvent]="selectedEvent"
  (selectionEvent)="updateSelectedEvent($event)">
</event-list>
