<h3>THIS IS THE EVENT FETCHER</h3>

<div *ngIf="username">
  Hello {{username}}!
</div>

<button *ngIf="!username" (click)="login();">
    Login!
</button>

<div>
  <div>
    <label>Within </label>
    <input select type="number" [(ngModel)]="fetcherSearch.maxDistance" placeholder="miles">
    <label> Meters of : </label>
    <input [(ngModel)]="fetcherSearch.centerCoordinates" placeholder="center">
  </div>
  <div *ngIf="geocodePacket">
    {{geocodePacket.formatted_address}}
  </div>

  <div>
    <label>Within two weeks of: </label>
    <input #dateInput
    [ngModel]="fetcherSearch.centerDate | date:'yyyy-MM-dd'"
    (ngModelChange)="updateDate(dateInput.value)"
    type="date"
    name="fetcherSearch.centerDate"/>
  </div>
</div>

<button *ngIf="!geocodePacket" (click)="checkAddress();">
    (1) check address
</button>

<button *ngIf="geocodePacket" (click)="checkAddress();">
    (1) change address
</button>

<button *ngIf="geocodePacket" (click)="checkInputs();">
    Check Stuff (2)
</button>

<button *ngIf="readyToFetch&&username" (click)="placesToEventsToDB();">
    Get Places -> events -> (send to database) (3)
</button>

<!-- For testing geocoding functionality -->
<!--
<button (click)="addressToGeocode('1965 Fletcher Avenue, South Pasadena, CA', latLongTest);">
    Fletcher Check
</button>
-->

<!-- For testing FB Event retrieval and DB update / retrieval. Uncomment eventText() in event-fetcher.component.ts -->
<!--
<button (click)="eventTest();">
    Test - Push one Event to DB
</button>
-->

<!-- To force DOM Update, for testing -->
<!--
<button (click)="manualCheck();">
    Update DOM
</button>
-->

<event-map
  [currentSearch]="fetcherSearch"
  [tempZoom]="mapSize"
  [currentGeo]="geocodePacket">
  <!-- [tempZoom]="fetcherSearch.maxDistance"> -->
</event-map>
<welcome></welcome>
